<h1>Job Tracker Dashboard</h1>

<table>
  <tr>
    <th>Job Count By Interest Level: </th>
    <th class="value"><%= @job_count %>
  </tr>
  <br>
  <tr>
    <th>Job Count By Location: </th>
    <th class="value"><%= @job_location %>
  </tr>
  <br>
  <tr>
    <th>Top Three Companies by Average Level of Interest: </th>
    <th class="value"><%= @company %>
  </tr>
</table>

<p> <%= link_to 'All Companies', companies_path %></p>
<p> <%= link_to 'All Categories', categories_path %></p>