All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul>
    <li>Job:<%= link_to job.title, company_job_path(job.company, job) %></li>
    <li>Company:<%= link_to job.company.name, company_path(job.company) %></li>    
    <li><%= link_to "Edit", edit_company_job_path(job.company, job) %></li>
    <li><%= link_to "Delete", company_job_path(job.company, job), method: "delete" %></li>
  </ul>
<% end %>
  <% @jobs.each do |job| %>
  <%= link_to "New Job", [:new, @company, job] %>
  <% end %>